<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VideoTube - Backend API</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/styles/index.css">

<body>
    <header>
        <h1>Welcome to VideoTube</h1>
        <p>Your all-in-one backend for video streaming</p>
    </header>

    <section>
        <h2>About VideoTube</h2>
        <p>VideoTube is a comprehensive backend API designed for video streaming platforms, aiming to provide a robust
            foundation for a YouTube-like experience. With VideoTube, developers can integrate powerful features,
            enabling seamless video uploads, engaging user interactions, and personalized experiences.</p>
    </section>

    <section>
        <h2>Features</h2>
        <ul>
            <li><i class="fas fa-video"></i> <strong>Video Management:</strong> Easily handle video uploads, updates,
                and deletions.</li>
            <li><i class="fas fa-comments"></i> <strong>User Interaction:</strong> Comments, likes, and subscriptions to
                foster community engagement.</li>
            <li><i class="fas fa-list-alt"></i><strong>Playlists:</strong> Create and manage playlists for
                customized
                video collections.</li>
            <li><i class="fas fa-bell"></i> <strong>Subscriptions:</strong> Stay updated on favorite channels and
                content creators.</li>
            <li><i class="fas fa-share-alt"></i> <strong>Social Media:</strong> Unique tweeting feature for sharing and
                interacting beyond the platform.</li>
        </ul>
    </section>

    <section>
        <h2>Quick Links</h2>
        <a href="https://github.com/GopalGavas/videotube-backend" target="_blank" class="btn btn-primary">Source
            Code</a>
        <a href="https://documenter.getpostman.com/view/28528757/2sAY4yefx3" target="_blank"
            class="btn btn-secondary">API
            Documentation</a>
    </section>

    <section>
        <h2>Getting Started</h2>
        <p>To get started with VideoTube:</p>
        <ol>
            <li>Clone the repository from GitHub.</li>
            <li>Install the necessary dependencies.</li>
            <li>Set up environment variables.</li>
            <li>Run the server locally.</li>
        </ol>
        <p>For detailed instructions, refer to the README in the <a
                href="https://github.com/GopalGavas/videotube-backend" target="_blank">GitHub repository</a>.</p>
    </section>

    <section>
        <h2>Contact Us</h2>
        <p>Have questions or want to contribute? Reach out to us:</p>
        <ul>
            <li><i class="fas fa-envelope"></i> Email: <a href="mailto:gopalgavas7@gmail.com">gopalgavas7@gmail.com</a>
            </li>
            <li><i class="fab fa-github"></i> GitHub: <a href="https://github.com/GopalGavas"
                    target="_blank">GopalGavas</a></li>
        </ul>
    </section>

    <footer>
        <p>Contribute to VideoTube on GitHub | Licensed under <a href="https://www.youtube.com/@chaiaurcode">Chai Aur
                Code</a></p>
    </footer>
</body>

</html>